.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
.pagination{
    margin: 0  auto 3rem;
}
.pagination button{
    margin: 0 1rem;
    padding: 0.8rem;
    cursor: pointer;
    background: blue;
    color: white;
    border: none;
    font-size: 1rem;
}
.pagination .selected{
    background: red;
}

@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}